.order {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    &__btn {
        padding: 20px 40px;
        background: #23af5f;
        color: #fff;
        font-size: 36px;
        font-weight: 700;
        line-height: 34px;
        text-align: left;
        border-radius: 10px;
    }
    &__layout {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #0000003a;
        z-index: 50;
    }
    &__model {
        width: 500px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
        background: #fff;
        box-shadow: 0 0 10px #ddd;
        padding: 50px 0px;
        border-radius: 50px;
        border-top: 80px solid #00429080;
        border-bottom: 80px solid #00429080;
        display: flex;
        align-items: center;
        justify-content: center;
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            width: 450px;
            h3 {
                font-size: 28px;
                font-weight: 500;
                line-height: 35.62px;
                text-align: center;
            }
            input {
                width: 100%;
                padding: 20px;
                border: 1px solid #504f4f;
                border-radius: 8px;
                font-size: 18px;
            }
            div {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
            }
            button {
                width: 100%;
                text-align: center;
            }
            p {
                font-size: 18px;
                font-weight: 400;
                line-height: 22.9px;
                text-align: center;
                color: #00000057;
            }
        }
    }
}
