#about {
    height: 100vh;
    display: flex;
    align-items: center;
}
.about {
    &__wrapper {
        p {
            font-size: 25px;
            font-weight: 400;
            line-height: 37.5px;

            color: #004290;
        }
        p:nth-child(2) {
            padding: 50px 0;
        }
        img {
            float: right;
            width: 50%;
            shape-outside: circle();
        }
    }
    // &__info {
    //     display: flex;
    //     flex-direction: column;
    //     gap: 40px;
    // }
    h2 {
        font-size: 50px;
        font-weight: 600;
        line-height: 75px;
        text-align: center;
        padding: 0 0 30px;
        color: #004290;
    }
}
